<a href="https://colab.research.google.com/github/popkdodge/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module2-make-features/LS_DS_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
##### Begin Working Here #####
import pandas as pd
import numpy as np
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

In [3]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [0]:
!head LoanStats_2018Q4.csv

In [256]:
# going to defied the csv to a variable.
house = pd.read_csv('LoanStats_2018Q4.csv', header=1)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
"""Below are lessons code.   """
def clean_emp_title(title):
  if isinstance(title, str):
    return title.strip().title()
  else:
    return "Unknown"
house['emp_title'] = house['emp_title'].apply(clean_emp_title)
house.drop(['url', 'member_id', 'id', 'desc'], axis=1)
def int_rate_to_float(int_rate):
  if isinstance(int_rate, str):
    return float(int_rate.strip('%').strip())
house['int_rate'] = house['int_rate'].apply(int_rate_to_float)

In [283]:
house['int_rate']  #use to check

0           14.47
1           22.35
2            23.4
3           18.94
4           10.72
           ...
128409      13.56
128410      11.06
128411      16.91
128412    Unknown
128413    Unknown
Name: int_rate, Length: 128414, dtype: object

In [284]:
print(house.shape)
house.head()

(128414, 144)

    id  member_id  ...  settlement_percentage  settlement_term
0  NaN        NaN  ...                    NaN              NaN
1  NaN        NaN  ...                    NaN              NaN
2  NaN        NaN  ...                    NaN              NaN
3  NaN        NaN  ...                    NaN              NaN
4  NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [219]:
house.tail()

                                                      id  ...  loan_status_is_great
128409                                               NaN  ...                   1.0
128410                                               NaN  ...                   1.0
128411                                               NaN  ...                   1.0
128412  Total amount funded in policy code 1: 2050909275  ...                   0.0
128413   Total amount funded in policy code 2: 820109297  ...                   0.0

[5 rows x 147 columns]

In [0]:
def term_to_int(term_as_str):
  if isinstance(term_as_str, str):
    return int(term_as_str.strip(' months').strip())
  else: 
    return 0

In [175]:
house['term']

0         36
1         36
2         60
3         36
4         36
          ..
128409    36
128410    36
128411    36
128412     0
128413     0
Name: term, Length: 128414, dtype: int64

In [0]:
house['term'] = house['term'].apply(term_to_int)

In [211]:
house['term'].value_counts(dropna= False)

36    88179
60    40233
0         2
Name: term, dtype: int64

In [0]:
house['term'].fillna(0, inplace= True)

In [214]:
house['term'].dtypes

dtype('int64')

In [128]:
nan_to_zero = {'Unknown':0}
house[house['term'] == "Unknown"]

/usr/local/lib/python3.6/dist-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

Empty DataFrame
Columns: [id, member_id, loan_amnt, funded_amnt, funded_amnt_inv, term, int_rate, installment, grade, sub_grade, emp_title, emp_length, home_ownership, annual_inc, verification_status, issue_d, loan_status, pymnt_plan, url, desc, purpose, title, zip_code, addr_state, dti, delinq_2yrs, earliest_cr_line, inq_last_6mths, mths_since_last_delinq, mths_since_last_record, open_acc, pub_rec, revol_bal, revol_util, total_acc, initial_list_status, out_prncp, out_prncp_inv, total_pymnt, total_pymnt_inv, total_rec_prncp, total_rec_int, total_rec_late_fee, recoveries, collection_recovery_fee, last_pymnt_d, last_pymnt_amnt, next_pymnt_d, last_credit_pull_d, collections_12_mths_ex_med, mths_since_last_major_derog, policy_code, application_type, annual_inc_joint, dti_joint, verification_status_joint, acc_now_delinq, tot_coll_amt, tot_cur_bal, open_acc_6m, open_act_il, open_il_12m, open_il_24m, mths_since_rcnt_il, total_bal_il, il_util, open_rv_12m, open_rv_24m, max_bal_bc, all_util, total_rev_hi_lim, inq_fi, total_cu_tl, inq_last_12m, acc_open_past_24mths, avg_cur_bal, bc_open_to_buy, bc_util, chargeoff_within_12_mths, delinq_amnt, mo_sin_old_il_acct, mo_sin_old_rev_tl_op, mo_sin_rcnt_rev_tl_op, mo_sin_rcnt_tl, mort_acc, mths_since_recent_bc, mths_since_recent_bc_dlq, mths_since_recent_inq, mths_since_recent_revol_delinq, num_accts_ever_120_pd, num_actv_bc_tl, num_actv_rev_tl, num_bc_sats, num_bc_tl, num_il_tl, num_op_rev_tl, num_rev_accts, num_rev_tl_bal_gt_0, num_sats, num_tl_120dpd_2m, ...]
Index: []

[0 rows x 145 columns]

In [0]:
house[128412, 'term'] = 0

In [240]:
house['loan_status'].value_counts(dropna= False)

Current               88648
Fully Paid            28403
Charged Off            8400
Late (31-120 days)     1998
In Grace Period         668
Late (16-30 days)       294
NaN                       2
Default                   1
Name: loan_status, dtype: int64

In [0]:
status = {'Current':1,'Fully Paid':1,'Charged Off':0,'Late (31-120 days)':0,'In Grace Period':0,'Late (16-30 days)':0,
          'NaN':0,'Default':0}

In [0]:
house['loan_status_is_great'] = house.loan_status.map(status)

In [245]:
house['loan_status_is_great'].value_counts(dropna= False)

1.0    117051
0.0     11363
Name: loan_status_is_great, dtype: int64

In [0]:
house['loan_status_is_great'].fillna(0, inplace= True)

In [0]:
from datetime import datetime  
from datetime import timedelta

In [0]:
house['last_pymnt_d_year'] = house['issue_d'].dt.year + (house['term']/12)

In [0]:
house['issue_d']= pd.to_datetime(house['issue_d'], infer_datetime_format=True)

In [203]:
house['issue_d']

0        2018-12-01
1        2018-12-01
2        2018-12-01
3        2018-12-01
4        2018-12-01
            ...
128409   2018-10-01
128410   2018-10-01
128411   2018-10-01
128412          NaT
128413          NaT
Name: issue_d, Length: 128414, dtype: datetime64[ns]

In [0]:
house['issue_d'].fillna(0, inplace= True)

In [208]:
house['issue_d']

0        2018-12-01
1        2018-12-01
2        2018-12-01
3        2018-12-01
4        2018-12-01
            ...
128409   2018-10-01
128410   2018-10-01
128411   2018-10-01
128412          NaT
128413          NaT
Name: issue_d, Length: 128414, dtype: datetime64[ns]

In [0]:
house['last_pymnt_d_month'] = house['issue_d'].dt.month

In [0]:
house['issue_d'].dt.month + pd.DateOffset(months=house.term)

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01

In [285]:
house['emp_title'].value_counts(dropna= False).head(21)

Unknown                     20949
Teacher                      2557
Manager                      2395
Registered Nurse             1418
Driver                       1258
Supervisor                   1160
Truck Driver                  920
Rn                            834
Office Manager                805
Sales                         803
General Manager               791
Project Manager               720
Owner                         625
Director                      523
Operations Manager            518
Sales Manager                 500
Police Officer                440
Nurse                         425
Technician                    420
Engineer                      412
Administrative Assistant      409
Name: emp_title, dtype: int64

In [0]:
house['emp_title'].value_counts() <

In [266]:
house['revol_util'].value_counts(dropna= False)

0%        1132
43%        225
49%        222
39.1%      220
32%        217
          ...
110.9%       1
104%         1
107.1%       1
110.3%       1
132.6%       1
Name: revol_util, Length: 1075, dtype: int64

In [269]:
house['revol_util'].isnull().sum()

158

In [0]:
import numpy as np

In [0]:
house['revol_util'].fillna('Unknown', inplace= True)

In [0]:
def revol_uni_to_float(perc_to_float):
  if isinstance(perc_to_float, str):
    return float(perc_to_float.strip('%').strip())
  else:
    return "Unknown"

In [271]:
house['revol_util'].apply(revol_uni_to_float)

0            43.2
1            47.1
2            53.9
3              53
4            28.6
           ...
128409       27.3
128410       13.1
128411       30.8
128412    Unknown
128413    Unknown
Name: revol_util, Length: 128414, dtype: object

In [0]:
def value_count_combining(job)
  if job.value_counts() < 420:
    return "Other"